<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="author" content="Antonella Caldo, Daniel Espinoza, Juan Pablo Loustalot, José Marsal, Catalina Melo, Ignacio Vial" />
    <meta name="language" content="español" />
    <title>Pinguinos de Chile</title>
    <link rel="stylesheet" href="../../assets/styles/estilos.css" />
</head>
<body>
    <header>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="../../../index.html">Inicio</a></li>
                <li><a href="#">Tipo de pinguinos</a>
                    <ul class="submenu">
                        <li><a href="#">Barbijo</a></li>
                        <li><a href="#">Emperador</a></li>
                        <li><a href="#">Macaroni</a></li>
                        <li><a href="#">Rey</a></li>
                        <li><a href="#">Penacho Amarillo</a></li>
                        <li><a href="#">Papua</a></li>
                        <li><a href="#">Adelia</a></li>
                        <li><a href="#">Magallanes</a></li>
                        <li><a href="#">Humboldt</a></li>
                    </ul>
                </li>
                <li><a href="#">Epoca para visitarlos</a>
                    <ul class="submenu">
                        <li><a href="#">Enero-Febrero-Marzo</a></li>
                        <li><a href="#">Abril-Mayo-Junio</a></li>
                        <li><a href="#">Julio-Agosto-Septiembre</a></li>
                        <li><a href="#">Octubre-Noviembre-Diciembre</a></li>

                    </ul>
                </li>
                <li><a href="#">Pinguino mas rapido</a></li>
                    <ul class="submenu">
                        <li><a href="#">Adelia (75km/h)</a></li>
                    </ul>


            </ul>
        </nav>
    </header>



    <div class="container-flex">
        <div class="div-pinguinos">
            <img style="opacity: 0.2;" src="../../assets/img/Adelia.png">
            <img style="opacity: 0.2;" src="../../assets/img/Barbijo.png">
            <img style="opacity: 0.2;" src="../../assets/img/Emperador.png">
            <a title="Pinguino Humbold" href="tipos/humbold.html">
                <img src="../../assets/img/Humbold.png">
            </a>
            <img style="opacity: 0.2;" src="../../assets/img/Macaroni.png">
            <a title="Pinguino Magallanes" href="tipos/magallanes.html">
                <img src="../../assets/img/Magallanes.png">
            </a>
            <img style="opacity: 0.2;" src="../../assets/img/Papua.png">
            <img style="opacity: 0.2;" src="../../assets/img/Penacho Amarillo.png">
            <a title="Pinguino Rey" href="tipos/rey.html">
                <img src="../../assets/img/Rey.png">
            </a>
        </div>

        <iframe class="ifchile" src="../extras/chile.html" frameborder="0"></iframe>
    </div>
</body>
</html>