<!DOCTYPE html>
<html>

<head>
  <!--NOS CONVIENE PEGAR EL HEADER DEL LA PÁGINA EN GENERAL-->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width">
  <title>Pingüino Barbijo</title>
  <link href="style.css" rel="stylesheet" type="text/css"/>
  
</head>

<body>
  <h1>Pingüino Barbijo</h1>
  <h4>Pygoscelis antarcticus</h4>
  <div class="info">
    <p>Esperanza de vida ➡ 15 a 20 años</p>
    <p>Fuente de alimentación ➡ Krill, peces y crustáceos</p>
    <p>Principal depresador ➡ Orcas</p>
    <p>Tamaño ➡ 75 cm aproximadamente</p>
    <p>Peso promedio ➞ Entre 3,1 a 5 Kg</p>
    <p>Población Actual ➡ 8.000.000 especímenes</p>
  </div>
  <!--Div para poner abajo de la imagen-->
  <div class="info2">
    <p>Estado de vulnerabilidad</p>
    <p>Una de las especies más pequeñas</p>
    <p>Es una especie muy amigable</p>
  </div>
  
  <div class="destacado">
    <img src="barbijo.jfif" width="400" alt=”Pinguino_Barbijo”/>
  </div>
  <div id="container"></div>
 
    <!--El identifica a tu pinguino-->
    <div>
        <h4>Identifica a tu pingüino</h4>
        <p>Los pingüinos Barbijo se pueden identificar por la <b>pequeña línea que tienen bajo su barbilla</b>, está característica los hace muy distinguibles! </p class="bin">
        <img src="barbijo_sabias.webp" width="150" alt="Barbijo"/>
        <img src="binoculares.png" width="200" alt="Binoculares_curiosos"/>
      </div>
    
      
    
        <script src="script.js"></script>
    
    
    </body>
    
    </html>  