<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="author" content="Antonella Caldo, Daniel Espinoza, Juan Pablo Loustalot, José Marsal, Catalina Melo, Ignacio Vial" />
    <meta name="language" content="español" />
    <title>Pinguinos de Chile</title>
    <link rel="stylesheet" href="../../assets/styles/estilos.css" />
</head>
<body>
    <div class="div-pinguinos">
        <a title="Pinguino Adelia" href="../tipos/adelia.html">
            <img src="../../assets/img/Adelia.png">
        </a>
        <a title="Pinguino Barbijo" href="../tipos/barbijo.html">
            <img src="../../assets/img/Barbijo.png">
        </a>
        <a title="Pinguino Emperador" href="../tipos/emperador.html">
            <img src="../../assets/img/Emperador.png">
        </a>
        <a title="Pinguino Humbold" href="../tipos/humbold.html">
            <img src="../../assets/img/Humbold.png">
        </a>
        <a title="Pinguino Macaroni" href="../tipos/macaroni.html">
            <img src="../../assets/img/Macaroni.png">
        </a>
        <a title="Pinguino Magallanes" href="../tipos/magallanes.html">
            <img src="../../assets/img/Magallanes.png">
        </a>
        <a title="Pinguino Papua" href="../tipos/papua.html">
            <img src="../../assets/img/Papua.png">
        </a>
        <a title="Pinguino Penacho Amarillo" href="../tipos/penacho_amarillo.html">
            <img src="../../assets/img/Penacho Amarillo.png">
        </a>
        <a title="Pinguino Rey" href="../tipos/rey.html">
            <img src="../../assets/img/Rey.png">
        </a>
    </div>
</body>