
@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/AmaticSC-Bold.ttf);
}

body{
    font-family: 'Amatic SC';
    margin: auto;
    background-color: #5e81ac;
    text-align: center;
}

/* Index.html */

.container-grid{
    display: grid;
    margin: auto;
    text-align: center;
}

.titulo{
    font-size: 500%;
    color: #e5e9f0;
}
.texto-index{
    font-size: 200%;
    color: #e5e9f0;
}

.boton-index{
    height: 200px;
    width: 400px;
}


/* Chile.html */

.container-chile {
    display: grid;
    grid-template-columns: 30% 1fr;
}

.texto-chile{
    text-align: right;
    color: #e5e9f0;
    font-size: 200%;
}

.div-mapa{
    width: 60%;
    margin: auto;
    margin-top: 3%;
    align-content: center;
}

.div-mapa path {
    fill: #D8DEE9;
    stroke: #88c0d0;
    stroke-width: 2px;
}

.div-mapa :hover {
    fill: #4c566a;
}