
@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/HelveticaNeue_1.ttc);
}

body{
    font-family: 'HelveticaNeue';
    margin: auto;
    background-color: #eceff4;
    text-align: center;
}

/* Index.html */
.container-index{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-size: 500%;
    color: #81a1c1;
    margin-bottom: 0px;
}

.imagen-inicial{
    height: 600px;
    width: 800px;
}

.rueda-imagenes{
    width: 25%;
    margin: auto;
    overflow: hidden;
}

.rueda-imagenes ul {
    display: flex;
    padding: 0;
    width: 200%;

    animation: cambio 20s infinite;
}

@keyframes cambio {
    0% {margin-left: 0%;}
    40% {margin-left: 0%;}

    50% {margin-left: -100%;}
    90% {margin-left: -100%;}
}

.rueda-imagenes li{
    width: 100%;
    list-style: none;
}

.rueda-imagenes img {
    width: 100%;
}

.titulo-2{
    font-size: 300%;
    color: #d08770;
    margin-bottom: 0px;
}

.palito{
    height: 5px;
    width: 200px;
    background-color: #d08770;
    margin-bottom: 50px;
}

.texto-index{
    font-size: 200%;
    width: 70%;
    color: #3b4252;
}

.boton-index{
    height: 200px;
    width: 400px;
}


/* Chile.html */

.div-mapa{
    margin: auto;
    width: 700px;
    height: 850px;

}

.div-mapa path {
    fill: #D8DEE9;
    stroke: #88c0d0;
    stroke-width: 2px;
}

.div-mapa :hover {
    fill: #4c566a;
}

.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: #fff;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;

}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    font-family: 'HelveticaNeue';
}

.menu li a:hover{
    color: #e5e9f0;
    transition: all .3s;
}

.submenu{
    position: absolute;
    background: #5e81ac;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'HelveticaNeue';
    text-decoration: none;

}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;


}

/* intro.html */

.container-flex{
    display: flex;
    margin: auto;
}



.ifchile{
    width: 700px;
    height: 850px;
}

.div-pinguinos{
    width: 1000px;
}

.div-pinguinos a:hover img {
    transform: scale(1.15);
}

.container-index a:hover img {
    transform: scale(1.15);
}